<div class="container-fluid py-4 dashboard">
  <div class="row g-3">
    <!-- Sidebar -->
    <aside class="col-12 col-lg-3">
      <div class="card shadow-sm sidebar-card sticky-lg-top">
        <div class="card-body bg-white rounded-5">
          <div class="d-flex align-items-center mb-3">
            <% if current_user&.user_photo&.attached? %>
              <%= image_tag current_user.user_photo, class: "rounded-circle avatar-sm flex-shrink-0", alt: "#{current_user.first_name}" %>
            <% else %>
              <div class="rounded-circle bg-secondary-subtle text-secondary-emphasis d-inline-flex align-items-center justify-content-center avatar-sm flex-shrink-0">
                <span class="fw-semibold"><%= current_user.first_name.first %></span>
              </div>
            <% end %>
            <div class="ms-2">
              <h6 class="mb-0"><%= current_user.first_name %></h6>
              <small class="text-muted">Cliente</small>
            </div>
          </div>

          <nav class="nav flex-column nav-pills gap-1">
            <%= link_to "Todas Mis Ordenes", dashboard_index_path, class: "nav-link d-flex align-items-center hover-dashboard" %>
            <%= link_to "Mis Ordenes Pendientes", dashboard_index_path(pending: true), class: "nav-link d-flex align-items-center hover-dashboard" %>
            <%= link_to "Historial de Órdenes", dashboard_index_path(history: true), class: "nav-link d-flex align-items-center hover-dashboard" %>
            <%= link_to "Mis Calificaciones", "", class: "nav-link d-flex align-items-center #{'active' if controller_name == 'reviews'} hover-dashboard" %>
          </nav>


        </div>

      </div>
    </aside>

    <!-- Main -->
    <main class="col-12 col-lg-9">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-0 text-primary fw-semibold">Mis Ordenes</h1>
      </div>

      <div class="card shadow-sm">
        <div class="table-responsive">
          <table class="table align-middle mb-0">
            <thead class="table-light">
              <tr>
                <th class="bg-primary text-white text-center">Servicio</th>
                <th class="bg-primary text-white text-center">Fecha</th>
                <th class="bg-primary text-white text-center">Hora</th>
                <th class="bg-primary text-white text-center">Proveedor</th>
                <th class="bg-primary text-white text-center">Precio</th>
                <th class="bg-primary text-white text-center">Estado</th>
                <th class="text-end bg-primary text-white text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr class="service-row">
                  <td class="text-muted lh-1 text-center bg-white"><%= order.service.sub_category %></td>
                  <td class="text-muted text-center bg-white"><%= order.date %></td>
                  <td class="text-muted text-center bg-white"><%= order.start_time.strftime("%H:%M") if order.start_time.present? %></td>
                  <td class="text-muted text-center bg-white"><%= order.service.user.first_name %></td>
                  <td class="text-center bg-white"><%= number_to_currency(order.total_price, unit: "$", precision: 0, separator: ",", delimiter: "." ) %></td>
                  <td class="text-center bg-white">
                    <%= order.status %>
                  </td>
                  <td class="text-end text-center bg-white">
                    <%= link_to "Ver", order_path(order), class: "link-danger fw-semibold mx-2" %>
                    <%= link_to "Editar", edit_order_path(order), class: "link-primary fw-semibold mx-2" %>
                    <%= link_to "Reseña", new_order_review_path(order), class: "link-success fw-semibold mx-2" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
