<div class="container">
  <div class="row justify-content-center">
    <div class="form-login col-12 col-sm-5">
      <h3 class="fw-bold text-primary text-center">Edita tus datos</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :first_name, label: "Nombre", required: true %>
          <%= f.input :last_name, label: "Apellido", required: true %>
          <%= f.input :phone, label: "Teléfono", required: true %>
          <%= f.input :address, label: "Dirección", required: true %>
          <%= f.input :user_photo, label: "Foto de Perfil", as: :file %>
          <% if params[:role] == "supplier" %>
            <%= f.input :role, input_html: { value: "supplier" }, readonly: true %>
          <% end %>
          <% if current_user.role == "supplier" %>
            <%= f.input :radius, label: "Radio en km en el que ofreces tus servicios" %>
          <% end %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class:"btn btn-primary" %>
        </div>
      <% end %>
      <hr>

      <div class="text-center">Unhappy with Trusty? :( <%= button_to "Cancel my account", registration_path(resource_name),
      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,
      class:"btn btn-warning text-center" %></div>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
