<div class="container">
  <div class="row justify-content-center">
    <div class="form-login col-12 col-sm-6">
      <h1 class="mb-4">Nuevo servicio</h1>
      <%= simple_form_for [:suppliers, @service] do |f| %>
        <div
          data-controller="dependent-select"
          data-dependent-select-map-value="<%= Service.map_for_js.to_json %>">

          <%= f.input :category, label: "Categoría de servicio",
                      collection: Service.category_list,
                      prompt: "Selecciona una categoría",
                      input_html: {
                        class: "form-select",
                        data: {
                          dependent_select_target: "category",
                          action: "change->dependent-select#update"
                        }
                      } %>

          <%= f.input :sub_category, label: "Subcategoría de servicio",
                      collection: Service.subcategory_list(f.object.category),
                      prompt: "Selecciona una subcategoría",
                      input_html: {
                        class: "form-select",
                        data: { dependent_select_target: "subCategory" }
                      } %>
        </div>

        <%= f.input :description, label: "Descripción", as: :text, input_html: { rows: 6, class: "form-control" } %>
        <%= f.input :price, label: "Precio unitario", as: :decimal, input_html: { step: 0.01, min: 0, class: "form-control" } %>
        <%= f.input :photos, label: "Imágenes", as: :file, input_html: { multiple: true } %>

        <div class="d-flex">
          <%= f.submit "Crear Servicio", class: "btn btn-primary" %>
          <%= link_to "Cancelar", root_path, class: "btn btn-warning ms-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
