<div class="container mt-5">
  <div class="d-flex justify-content-end"><%= link_to "Regresar a lista de ordenes", dashboard_index_path(@order), class: "m-2 btn btn-success rounded-5 shadow" %></div>
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white text-center">
          <h3 class="mb-0">Orden de Compra Nº <%= @order.id %></h3>
        </div>

        <div class="card-body px-5 py-4">
          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Número de orden:</div>
            <div class="col-6"><%= @order.id %></div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Nombre del proveedor:</div>
            <div class="col-6"><%= @order.service.user.first_name %></div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Nombre del cliente:</div>
            <div class="col-6"><%= @order.user.first_name %></div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Domicilio del servicio:</div>
            <div class="col-6"><%= @order.service_address %></div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Fecha de servicio:</div>
            <div class="col-6">
                <%= l(@order.date, format: :long) %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">hora de inicio:</div>
            <div class="col-6">
              <% if @order.start_time.present? %>
                <%= l(@order.start_time, format: :hour_only) %>
              <% else %>
                <em>No definido</em>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">hora de cierre:</div>
            <div class="col-6">
              <% if @order.end_time.present? %>
                <%= l(@order.end_time, format: :hour_only) %>
              <% else %>
                <em>No definido</em>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Estatus:</div>
            <div class="col-6">
              <%= simple_form_for @order do |f| %>
                <%= f.input :status, collection: Order::STATUS_LIST, prompt: "Selecciona el estatus de tu orden" %>
                <%= f.button :submit, "Actualizar", class: "btn btn-primary mt-2" %>
              <% end %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-6 text-end fw-bold">Precio total:</div>
            <div class="col-6 text-success fw-semibold">
              $<%= number_to_currency(@order.total_price, unit: "", delimiter: ".", separator: ",") %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
