<div class="container">
  <div class="d-flex justify-content-end"><%= link_to "Regresar a lista de ordenes", dashboard_index_path(@order), class: "mt-4 btn btn-success text-white rounded-4 shadow" %></div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8">
      <div class="card bg-white border rounded-4 m-3 p-4 shadow-sm">
        <div class="text-center mb-3">
          <% if @order.user == current_user %>
            <h4>¿Cómo calificas el Servicio de <%= @order.service.sub_category %> de <%= @order.service.user.first_name %>?</h4>
          <% else %>
            <h4>¿Cómo calificas a <%= @order.user.first_name %> como cliente?</h4>
          <% end %>
        </div>

        <%= simple_form_for [@order, @review] do |f| %>
          <%= f.input :rating, collection: (1..5).to_a, label: "Califica tu experiencia",
          input_html: {data: {controller: "star-rating"}} %>
          <div class="mb-3">
            <%= f.input :content, as: :text, label: "Comentarios",
                  placeholder: "Contanos tu experiencia...",
                  class: "form-control bg-white rounded-4",
                  rows: 3 %>
          </div>
          <div class="d-grid">
            <%= f.submit "Enviar Reseña", class: "btn btn-primary rounded-4" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
